body {
  margin: 0;
}
 
 nav {
  font-size: 25px;
  background-color:#2E393A;
  padding: 18px;
  display: flex;
  justify-content: space-around;

}

 a {
  text-decoration: none;
  color: white;
}

#middle {
  background-image: url("Assort-foods.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 700px;
}

main {
  text-align: center;
}

h1 {

  margin: 0 auto;
  font-weight: bold;
  font-style: italic;
  font-size: 100px;
  color:rgb(28, 88, 109);
  font-family: 'Finger Paint', cursive;
}

.danger {

  color: red;
}


input {
  border: 1px solid black;
  padding: 30px;
  margin: 100px auto 10px auto; 
  font-size: 20px;

}

button {
  border: 1px solid black;
  padding: 30px;
  background-color:#2E393A;
  color: white;
  font-size: 20px;

}
 
footer {
  font-size: 25px;
  background-color:#2E393A;
  text-align: center;
  padding: 8px;
  bottom: 0;
  width: 100%;
  position: fixed;
}

#bottom {

  text-align: center;
}

h2 {
  text-align: left;
  font-size: 35px;
  color: black;
}

h3 {
  text-align: left;
  font-size: 25px;
  color: black;
}

p{

  text-align: left;
  color: black;

}

 #restmov {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
} 


.codeRed {
  color:red;
  font-size: 60px;
}

.card {
  display: flex;
  border: solid;
  padding: 2px 16px;
  flex-direction: column;
}
